.veliceCoolFOnd {
    font-family: fantasy;
    color: greenyellow;
    animation: animation linear 5s ;
    animation-iteration-count: infinite;
}

.ZimniKapitola {
    font-family: fantasy;
}

@keyframes animation {
    0% {
        color: rgb(0, 255, 0);
    }
    50% {
        color: rgb(19, 137, 255);
    }
    75%{
        color: rgb(255, 0, 0);
    }
    100% {
        color: rgb(0, 255, 0);
    }
}

.LOWbtu {
    width: 512px;
    height: auto;
    animation: animation02 linear 1s ;
    animation-iteration-count: infinite;
}

@keyframes animation02 {
    0% {
        width: 512px;
        height: 512px;
        padding-top: 0;
    }
    50% {
        width: 502px;
        padding-top: 254px;
        height: 242px;
    }
    100% {
        width: 512px;
        height: 512px;
        padding-top: 0;
    }
}
