.veliceCoolFOnd {
    font-family: fantasy;
    color: greenyellow;
    animation: animation linear 5s ;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        color: rgb(0, 255, 0);
    }
    50% {
        color: rgb(19, 137, 255);
    }
    75%{
        color: rgb(255, 0, 0);
    }
    100% {
        color: rgb(0, 255, 0);
    }
}

.LOWbtu {
    width: 10%;
    height: auto;
}
